<html>
  <head>
    <link rel="stylesheet" href="/static/css/materialize.css">
    <link href="/static/fonts/roboto/Roboto-Bold.woff" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>  
    <script src="/static/js/materialize.min.js"></script>
    <link href="/static/fonts/material_icon" rel="stylesheet">
  </head>

  <body class="grey lighten-5">
  <!-- <nav class="light-blue lighten-1" role="navigation"> -->
    <nav style="background-color:#6E308E;" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Cluster</a>
      </div>
    </nav>

  <div class="container">
    <table>
      <thead>
        <tr>
            <th></th>
            {% for node in Nodes %}
            <th><i class="material-icons left">computer</i>{{node}}</th>
            {% endfor %}
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Status</td>
          {% for node in Nodes %}
            {% if StatusNode[node] == "online" %}
              {% set color = 'green lighten-1' %}
            {% else %}
              {% set color = 'red' %}
            {% endif %}          
          <td><span class="new badge left {{color}}" style="font-size:0.7rem;" data-badge-caption="">{{StatusNode[node]}}</span></td>
          {% endfor %}
        </tr>

        <tr>
          <td>Load average</td>
          {% for node, status in LoadAverage.items() %}
            <td>{{LoadAverage[node]}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Uptime</td>
          {% for node, status in Uptime.items() %}
            <td>{{Uptime[node]}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Sensors</td>
          {% for node, status in Sensors.items() %}
            <td>{{Sensors[node]}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th</th>
            {% for resource_name, resource_value in Resources.items() %}
              <th>{{resource_name}}</th>
            {% endfor %}
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="">Status</td>
          {% for node, status in Resources.items() %}
            {% if status.startswith("Started") %}
              {% set color = 'green lighten-1' %}
            {% else %}
              {% set color = 'red' %}
            {% endif %}          
            <td><span class="new badge left {{color}}" style="font-size:0.7rem;" data-badge-caption="">{{status}}</span></td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    
    <div class="row">
      <a href="/" class=" col s6  offset-s3 light-blue darken-1 waves-effect waves-light btn btn-large ">
      <i class="material-icons left">stop</i>BACK</a>
    </div>
  </div>
</body>

<script>

  var can_reload = true;

  function reload_content(){
    if(can_reload === true){
      $.get( "/cluster_status", function( data ) {
       $( "#content-div" ).html( data );
      });
    }
  };

  $( document ).ready(function() {


    $(document).on('click', 'a', function() {
        can_reload = false;
        $(this).html("Loading")
        $(this).attr("disabled", "disabled");
      });

  });
</script>

</html>  





