<div class="row">
  <div class="col s12">

  </div>
</div>



  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/static/brand.png">
    </div>
    <div class="card-content">
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">LET'S START IT<i class="material-icons right">close</i></span>
              <a href="/cluster_start" class=" col s5  green darken-3 waves-effect waves-light btn btn-large ">
          <i class="material-icons left">launch</i>START CLUSTER
        </a>
        <a href="/cluster_details" class=" col s5  offset-s2 light-blue darken-1 waves-effect waves-light btn btn-large ">
          <i class="material-icons left">build</i>DETAILS
        </a>
    </div>
  </div>
          
