{% if cluster_health_status == "OK" %}
<div class="row">
  <div class="col s12">
    <div class="card" style="background-color: #61BA5D;">
      <div class="card-content white-text">
        {% if is_mep_run_status == True %}
        <p> 
          <i class="material-icons large">verified_user</i> 
          Cluster status is OK <br>
          Everything is OK on your awesome Box
        </p>
        {% else %}
        <p> 
          <i class="material-icons large">error</i> 
          Cluster status is WARNING <br>
          Warning, check Box's neighbors
        </p>        
        {% endif %}
      </div>
      <div class="card-action" style="height: 90px;">
        <a href="/cluster_stop" class="col s5 waves-effect waves-light btn btn-large" style="background-color: #EC3535;">
          <i class="material-icons left">stop</i>STOP CLUSTER </a>
        <a href="/cluster_details" class="application_button col s5 offset-s2 light-blue darken-1 waves-effect waves-light btn btn-large"> 
          <i class="material-icons left">build</i>DETAILS</a>
      </div>
    </div>
  </div>
</div>

{% elif cluster_health_status == "WARNING" %}           

<div class="row">
  <div class="col s12">
    <!-- <div class="card  yellow darken-2 "> -->
      <div class="card-content white-text" style="background-color: #F4BD48;">
      <div class="card-content white-text">
        {% if is_mep_run_status == True %}
        <p> 
          <i class="material-icons large">warning</i> 
          Cluster status is WARNING <br>
          The Box is still accessible but in a degraded mode 
        </p>
        {% else %}
        <p> 
          <i class="material-icons large">error</i> 
          Cluster status is WARNING <br>
          Warning, check Box's neighbors
        </p>        
        {% endif %}
      </div>
      <div class="card-action" style="height: 90px;">
        <a href="/cluster_stop" class="col s5 red darken-4 waves-effect waves-light btn btn-large">
          <i class="material-icons left">stop</i>STOP CLUSTER</a>
        <a href="/cluster_details" class=" col s5 offset-s2 light-blue darken-1 waves-effect waves-light btn btn-large">
          <i class="material-icons left">build</i>DETAILS</a>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col s12">
    <div class="card  red darken-4">
      <div class="card-content white-text">
        <p>
          <i class="material-icons large">error</i> 
          Cluster status is KO <br>
          You have errors, please wait 5 min and if this message still year contact support or #support
        </p>
      </div>
      <div class="card-action" style="height: 90px;">
        <a href="/cluster_stop" class="col s5 red darken-4 waves-effect waves-light btn btn-large">
          <i class="material-icons left">stop</i>STOP CLUSTER</a>
        <a href="/cluster_details" class=" col s5 offset-s2 light-blue darken-1 waves-effect waves-light btn btn-large">
          <i class="material-icons left">build</i>DETAILS</a>
      </div>
    </div>
  </div>
</div>

{% endif %}